<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springproj_1.demo.mapper.CourseMapper">
    <resultMap id="courseInfo" type="springproj_1.demo.entity.Course">
        <result column="Cno" jdbcType="VARCHAR" property="Cno"/>
        <result column="Cname" jdbcType="VARCHAR" property="Cname"/>
        <result column="Tno" jdbcType="VARCHAR" property="Tno"/>
    </resultMap>

    <select id="getCourseInfo" resultType="springproj_1.demo.entity.Course">
        select * from Course where Cno = #{Cno}
    </select>
</mapper>