<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springproj_1.demo.mapper.MappingDAO">
    <resultMap id="mappingLock" type="springproj_1.demo.DTO.MappingLockDto">
        <result column="origin" jdbcType="VARCHAR" property="longUrl"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>

    <select id="findMappingLockDtoByShort" resultMap="mappingLock">
        select mapping.origin, javaDB.lock.password from mapping join javaDB.lock on mapping.lock = javaDB.lock.id where short = #{short}
    </select>
</mapper>