<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springproj_1.demo.mapper.MappingDao">
    <resultMap id="mappingLock" type="springproj_1.demo.DTO.MappingLockDto">
        <result column="origin" jdbcType="VARCHAR" property="longUrl"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>

    <select id="mappingLockByShort" resultType="springproj_1.demo.DTO.MappingLockDto">
        select origin, password from  mapping join lock on mapping.lock = lock.id where mapping.short = #{short};
    </select>
</mapper>