<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springproj_1.demo.mapper.TeacherMapper">
    <resultMap id="teacherInfo" type="springproj_1.demo.entity.Teacher">
        <result column="Tno" jdbcType="VARCHAR" property="Tno"/>
        <result column="Tname" jdbcType="VARCHAR" property="Tname"/>
    </resultMap>

    <select id="getTeacherInfo" resultType="springproj_1.demo.entity.Teacher">
        select * from Teacher where Tno = #{Tno}
    </select>
</mapper>